use master
go
if db_id('QLHD') is not null
	drop database QLHD
go


create database [QLHD]
GO

USE [QLHD]
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 12/12/2021 12:01:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MaCN] [nvarchar](100) NOT NULL,
	[MaDT] [nvarchar](100) NOT NULL,
	[SoNha_CN] [int] NULL,
	[Duong_CN] [nvarchar](100) NULL,
	[Phuong_CN] [nvarchar](100) NULL,
	[Quan_CN] [nvarchar](100) NULL,
	[ThanhPho_CN] [nvarchar](100) NULL,
 CONSTRAINT [PK_CN] PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC,
	[MaCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DONHANG]    Script Date: 12/12/2021 12:01:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DONHANG](
	[MaDH] [nvarchar](100) NOT NULL,
	[MaSP] [nvarchar](100) NOT NULL,
	[SoLuong] [int] NULL,
	[GiaTien] [money] NULL,
	[ThanhTien] [money] NULL,
 CONSTRAINT [PK_CTDH] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HOPDONG]    Script Date: 12/12/2021 12:01:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOPDONG](
	[MaHD] [nvarchar](100) NOT NULL,
	[MaDT] [nvarchar](100) NOT NULL,
	[MaCNhanh] [nvarchar](100) NOT NULL,
	[DiaChi_CN] [nvarchar](500) NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaDT] ASC,
	[MaCNhanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOANHTHU_DT]    Script Date: 12/12/2021 12:01:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANHTHU_DT](
	[MaDT] [nvarchar](100) NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[DoanhThu] [money] NULL,
	[PhiHoaHong] [money] NULL,
 CONSTRAINT [PK_DTDT] PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC,
	[Thang] ASC,
	[Nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOITAC]    Script Date: 12/12/2021 12:01:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOITAC](
	[MaDT] [nvarchar](100) NOT NULL,
	[TenDT] [nvarchar](100) NULL,
	[NguoiDaiDien] [nvarchar](100) NULL,
	[SoChiNhanh] [int] NULL,
	[SoLuongDH] [int] NULL,
	[LoaiHang] [nvarchar](100) NULL,
	[SDT_DT] [varchar](100) NULL,
	[Email_DT] [nvarchar](100) NULL,
	[MaSoThue] [nvarchar](100) NULL,
	[SoNha] [int] NULL,
	[Duong] [nvarchar](100) NULL,
	[Phuong] [nvarchar](100) NULL,
	[Quan] [nvarchar](100) NULL,
	[ThanhPho] [nvarchar](100) NULL,
 CONSTRAINT [PK_DT] PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 12/12/2021 12:01:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MaDH] [nvarchar](100) NOT NULL,
	[MaKH] [nvarchar](100) NULL,
	[MaTX] [nvarchar](100) NULL,
	[TinhTrangDH] [nvarchar](100) NULL,
	[HinhThucThanhToan] [nvarchar](100) NULL,
	[DiaChiGiao] [nvarchar](100) NULL,
	[PhiVC] [money] NULL,
	[TongTien] [money] NULL,
	[ThoiGianDatHang] [datetime] NULL,
 CONSTRAINT [PK_DH] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 12/12/2021 12:01:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MaHD] [nvarchar](100) NOT NULL,
	[MaNV] [nvarchar](100) NULL,
	[MaDT] [nvarchar](100) NULL,
	[MaSoThue_HD] [nvarchar](100) NULL,
	[NguoiDaiDien_HD] [nvarchar](100) NULL,
	[SoChiNhanhDK] [int] NULL,
	[PhiKichHoat] [money] NULL,
	[PhanTramHoaHong] [int] NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
 CONSTRAINT [PK_HD] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/12/2021 12:01:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [nvarchar](100) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[SDT_KH] [varchar](100) NULL,
	[Email_KH] [nvarchar](100) NULL,
	[SoNha_KH] [int] NULL,
	[Duong_KH] [nvarchar](100) NULL,
	[Phuong_KH] [nvarchar](100) NULL,
	[Quan_KH] [nvarchar](100) NULL,
	[ThanhPho_KH] [nvarchar](100) NULL,
 CONSTRAINT [PK_KH] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIHANG]    Script Date: 12/12/2021 12:01:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHANG](
	[MaLH] [nvarchar](100) NOT NULL,
	[TenLH] [nvarchar](100) NULL,
 CONSTRAINT [PK_LH] PRIMARY KEY CLUSTERED 
(
	[MaLH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/12/2021 12:01:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [nvarchar](100) NOT NULL,
	[TenNV] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](100) NULL,
 CONSTRAINT [PK_NV] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANLY]    Script Date: 12/12/2021 12:01:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLY](
	[MAQL] [nvarchar](100) NOT NULL,
	[TenQL] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](100) NULL,
	[UserNameQL] [nvarchar](100) NULL,
	[PasswordQL] [nvarchar](100) NULL,
 CONSTRAINT [PK_QL] PRIMARY KEY CLUSTERED 
(
	[MAQL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/12/2021 12:01:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [nvarchar](100) NOT NULL,
	[MaDT] [nvarchar](100) NULL,
	[TenSP] [nvarchar](100) NULL,
	[MaCN] [nvarchar](100) NULL,
	[GiaBan] [money] NULL,
	[GiaGiam] [money] NULL,
	[MaLoaiHang] [nvarchar](100) NULL,
	[HinhAnh] [varchar](150) NULL
 CONSTRAINT [PK_SP] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/12/2021 12:01:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MaND] [nvarchar](100) NOT NULL,
	[UserID] [nvarchar](100) NULL,
	[UserPassword] [nvarchar](100) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_TK] PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIXE]    Script Date: 12/12/2021 12:01:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIXE](
	[MaTX] [nvarchar](100) NOT NULL,
	[TenTX] [nvarchar](100) NULL,
	[CMND] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[SDT_TX] [varchar](100) NULL,
	[BienSoXe] [nvarchar](100) NULL,
	[KhuVucHoatDong] [nvarchar](100) NULL,
	[Email_TX] [nvarchar](100) NULL,
	[TKNganHang] [nvarchar](200) NULL,
	[ThuNhap] [money] NULL,
	[SoNha_TX] [int] NULL,
	[Duong_TX] [nvarchar](100) NULL,
	[Phuong_TX] [nvarchar](100) NULL,
	[Quan_TX] [nvarchar](100) NULL,
	[ThanhPho_TX] [nvarchar](100) NULL,
 CONSTRAINT [PK_TX] PRIMARY KEY CLUSTERED 
(
	[MaTX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUNHAP_TAIXE]    Script Date: 12/12/2021 12:01:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUNHAP_TAIXE](
	[MaTX] [nvarchar](100) NOT NULL,
	[MaDH] [nvarchar](100) NOT NULL,
	[PhiVanChuyen_TX] [money] NULL,
 CONSTRAINT [PK_TNTX] PRIMARY KEY CLUSTERED 
(
	[MaTX] ASC,
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHINHANH] ([MaCN], [MaDT], [SoNha_CN], [Duong_CN], [Phuong_CN], [Quan_CN], [ThanhPho_CN]) VALUES (N'CN1', N'DT3', 245, N'Nguyễn Văn Tố', N'Phường Hàng Bông', N'Quận Thanh Xuân', N'Hà Nội')
INSERT [dbo].[CHINHANH] ([MaCN], [MaDT], [SoNha_CN], [Duong_CN], [Phuong_CN], [Quan_CN], [ThanhPho_CN]) VALUES (N'CN2', N'DT3', 25, N'Nguyễn Khuyến', N'Phường 12', N'Quận 11', N'TPHCM')
INSERT [dbo].[CHINHANH] ([MaCN], [MaDT], [SoNha_CN], [Duong_CN], [Phuong_CN], [Quan_CN], [ThanhPho_CN]) VALUES (N'CN1', N'DT5', 545, N'Nguyễn Giao', N'Phường 22', N'Quận 5', N'TPHCM')
GO
INSERT [dbo].[CT_DONHANG] ([MaDH], [MaSP], [SoLuong], [GiaTien], [ThanhTien]) VALUES (N'DH22', N'SP15', 2, 4900.0000, 9800.0000)
INSERT [dbo].[CT_DONHANG] ([MaDH], [MaSP], [SoLuong], [GiaTien], [ThanhTien]) VALUES (N'DH22', N'SP2', 3, 1000.0000, 3000.0000)
INSERT [dbo].[CT_DONHANG] ([MaDH], [MaSP], [SoLuong], [GiaTien], [ThanhTien]) VALUES (N'DH31', N'SP1', 4, 2000.0000, 8000.0000)
GO
INSERT [dbo].[CT_HOPDONG] ([MaHD], [MaDT], [MaCNhanh], [DiaChi_CN]) VALUES (N'HD1', N'DT5', N'CN1', N'545, Nguyễn Giao, Phường 22, Quận 5, TPHCM')
INSERT [dbo].[CT_HOPDONG] ([MaHD], [MaDT], [MaCNhanh], [DiaChi_CN]) VALUES (N'HD10', N'DT3', N'CN2', N'25, Nguyễn Khuyến, Phường 12, Quận 11, TPHCM')
INSERT [dbo].[CT_HOPDONG] ([MaHD], [MaDT], [MaCNhanh], [DiaChi_CN]) VALUES (N'HD7', N'DT3', N'CN1', N'245, Nguyễn Văn Tố, Phường Hàng Bông, Quận Thanh Xuân, Hà Nội')
GO
INSERT [dbo].[DOANHTHU_DT] ([MaDT], [Thang], [Nam], [DoanhThu], [PhiHoaHong]) VALUES (N'DT3', 4, 2018, 8000.0000, 800.0000)
INSERT [dbo].[DOANHTHU_DT] ([MaDT], [Thang], [Nam], [DoanhThu], [PhiHoaHong]) VALUES (N'DT3', 8, 2018, NULL, NULL)
INSERT [dbo].[DOANHTHU_DT] ([MaDT], [Thang], [Nam], [DoanhThu], [PhiHoaHong]) VALUES (N'DT5', 3, 2018, NULL, NULL)
GO
INSERT [dbo].[DOITAC] ([MaDT], [TenDT], [NguoiDaiDien], [SoChiNhanh], [SoLuongDH], [LoaiHang], [SDT_DT], [Email_DT], [MaSoThue], [SoNha], [Duong], [Phuong], [Quan], [ThanhPho]) VALUES (N'DT3', N'MÙA HÈ', N'Nguyễn Thanh Hiền', 3, 100, N'LH1', N'6748329108', N'mh@gmail.com', N'123', 12, N'Lạc Long Quân', N'Phường 2', N'Quận 2', N'TPHCM')
INSERT [dbo].[DOITAC] ([MaDT], [TenDT], [NguoiDaiDien], [SoChiNhanh], [SoLuongDH], [LoaiHang], [SDT_DT], [Email_DT], [MaSoThue], [SoNha], [Duong], [Phuong], [Quan], [ThanhPho]) VALUES (N'DT5', N'PHI ĐIỂU', N'Nguyễn Tiểu Mi', 2, 102, N'LH4', N'6748320008', N'pd@gmail.com', N'456', 3, N'Hữu Nghị', N'Phường 4', N'Quận 6', N'TPHCM')
INSERT [dbo].[DOITAC] ([MaDT], [TenDT], [NguoiDaiDien], [SoChiNhanh], [SoLuongDH], [LoaiHang], [SDT_DT], [Email_DT], [MaSoThue], [SoNha], [Duong], [Phuong], [Quan], [ThanhPho]) VALUES (N'DT6', N'VE SẦU', N'Huỳnh Thanh Mỹ', 1, 104, N'LH6', N'6748329000', N'vs@gmail.com', N'789', 34, N'Nguyễn Xí', N'Phường 10', N'Quận 10', N'TPHCM')
GO
INSERT [dbo].[DONHANG] ([MaDH], [MaKH], [MaTX], [TinhTrangDH], [HinhThucThanhToan], [DiaChiGiao], [PhiVC], [TongTien], [ThoiGianDatHang]) VALUES (N'DH13', N'KH5', N'TX5', N'Đang giao', N'Thanh toán sau', N'34, Tô Hiến Thành, Phường 3, Quận 10, TPHCM', 100.0000, 19830.0000, CAST(N'2018-05-11T19:39:57.690' AS DateTime))
INSERT [dbo].[DONHANG] ([MaDH], [MaKH], [MaTX], [TinhTrangDH], [HinhThucThanhToan], [DiaChiGiao], [PhiVC], [TongTien], [ThoiGianDatHang]) VALUES (N'DH17', N'KH5', N'TX5', N'Đang giao', N'Thanh toán trước', N'34, Tô Hiến Thành, Phường 3, Quận 10, TPHCM', 30.0000, 6130.0000, CAST(N'2020-01-27T12:58:14.630' AS DateTime))
INSERT [dbo].[DONHANG] ([MaDH], [MaKH], [MaTX], [TinhTrangDH], [HinhThucThanhToan], [DiaChiGiao], [PhiVC], [TongTien], [ThoiGianDatHang]) VALUES (N'DH19', N'KH7', N'TX7', N'Đang giao', N'Thanh toán trước', N'342, Võ Văn Ngân, Phường 12, Quận 2, TPHCM', 30.0000, 3930.0000, CAST(N'2020-10-08T19:59:26.890' AS DateTime))
GO
INSERT [dbo].[HOPDONG] ([MaHD], [MaNV], [MaDT], [MaSoThue_HD], [NguoiDaiDien_HD], [SoChiNhanhDK], [PhiKichHoat], [PhanTramHoaHong], [NgayBatDau], [NgayKetThuc]) VALUES (N'HD1', N'NV5', N'DT5', N'456', N'Nguyễn Tiểu Mi', 1, 1000.0000, 10, CAST(N'2018-12-11' AS Date), CAST(N'2021-12-03' AS Date))
INSERT [dbo].[HOPDONG] ([MaHD], [MaNV], [MaDT], [MaSoThue_HD], [NguoiDaiDien_HD], [SoChiNhanhDK], [PhiKichHoat], [PhanTramHoaHong], [NgayBatDau], [NgayKetThuc]) VALUES (N'HD10', N'NV7', N'DT3', N'123', N'Nguyễn Thanh Hiền', 1, 1000.0000, 10, CAST(N'2020-01-19' AS Date), CAST(N'2021-08-16' AS Date))
INSERT [dbo].[HOPDONG] ([MaHD], [MaNV], [MaDT], [MaSoThue_HD], [NguoiDaiDien_HD], [SoChiNhanhDK], [PhiKichHoat], [PhanTramHoaHong], [NgayBatDau], [NgayKetThuc]) VALUES (N'HD7', N'NV7', N'DT3', N'123', N'Nguyễn Thanh Hiền', 1, 1000.0000, 10, CAST(N'2018-08-30' AS Date), CAST(N'2022-08-14' AS Date))
GO
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [SDT_KH], [Email_KH], [SoNha_KH], [Duong_KH], [Phuong_KH], [Quan_KH], [ThanhPho_KH]) VALUES (N'KH1', N'Nguyễn Giang Mai', N'1234567890', N'gm@gmail.com', 14, N'Nguyễn Huệ', N'Phường 2', N'Quận 1', N'TPHCM')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [SDT_KH], [Email_KH], [SoNha_KH], [Duong_KH], [Phuong_KH], [Quan_KH], [ThanhPho_KH]) VALUES (N'KH3', N'Trần Gia', N'1234567000', N'tg@gmail.com', 4, N'Võ Thị Sáu', N'Phường 5', N'Quận 4', N'TPHCM')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [SDT_KH], [Email_KH], [SoNha_KH], [Duong_KH], [Phuong_KH], [Quan_KH], [ThanhPho_KH]) VALUES (N'KH5', N'Lê Thụy', N'1234007000', N'lt@gmail.com', 34, N'Tô Hiến Thành', N'Phường 3', N'Quận 10', N'TPHCM')
GO
INSERT [dbo].[LOAIHANG] ([MaLH], [TenLH]) VALUES (N'LH1', N'Sách')
INSERT [dbo].[LOAIHANG] ([MaLH], [TenLH]) VALUES (N'LH4', N'Bếp')
INSERT [dbo].[LOAIHANG] ([MaLH], [TenLH]) VALUES (N'LH6', N'Công nghệ')
GO
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [NgaySinh], [GioiTinh]) VALUES (N'NV5', N'Nguyễn Du', CAST(N'1999-02-10' AS Date), N'Nam')
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [NgaySinh], [GioiTinh]) VALUES (N'NV7', N'Trần Diệu', CAST(N'1993-10-02' AS Date), N'Nữ')
GO
INSERT [dbo].[QUANLY] ([MAQL], [TenQL], [NGAYSINH], [GIOITINH], [UserNameQL], [PasswordQL]) VALUES (N'QL1', N'Đặng Luân', CAST(N'1992-01-24' AS Date), N'Nam', N'dlv', N'1345')
GO
INSERT [dbo].[SANPHAM] ([MaSP], [MaDT], [TenSP], [MaCN], [GiaBan], [GiaGiam], [MaLoaiHang],[HinhAnh]) VALUES (N'SP1', N'DT3', N'Đắc Nhân Tâm', N'CN1', 3000.0000, 2000.0000, N'LH1','https://eccthai.com/wp-content/uploads/2021/01/sach-dac-nhan-tam-dale-carnegie.jpg')
INSERT [dbo].[SANPHAM] ([MaSP], [MaDT], [TenSP], [MaCN], [GiaBan], [GiaGiam], [MaLoaiHang],[HinhAnh]) VALUES (N'SP10', N'DT5', N'Kệ bếp', N'CN1', 1500.0000, 100.0000, N'LH4','https://cf.shopee.vn/file/25219aa3c945728947474ee81080f196')
INSERT [dbo].[SANPHAM] ([MaSP], [MaDT], [TenSP], [MaCN], [GiaBan], [GiaGiam], [MaLoaiHang],[HinhAnh]) VALUES (N'SP11', N'DT5', N'Tủ lạnh BANANA', N'CN2', 5000.0000, 100.0000, N'LH4','https://cdn01.dienmaycholon.vn/filewebdmclnew/public//picture/product/product17354/product_17354_4.png')
GO
INSERT [dbo].[TAIKHOAN] ([MaND], [UserID], [UserPassword], [TrangThai]) VALUES (N'DT3', N'jys', N'DT4434', 1)
INSERT [dbo].[TAIKHOAN] ([MaND], [UserID], [UserPassword], [TrangThai]) VALUES (N'DT5', N'dke', N'DT9655', 1)
INSERT [dbo].[TAIKHOAN] ([MaND], [UserID], [UserPassword], [TrangThai]) VALUES (N'DT6', N'mct', N'DT2093', 1)
GO
INSERT [dbo].[TAIXE] ([MaTX], [TenTX], [CMND], [GioiTinh], [NgaySinh], [SDT_TX], [BienSoXe], [KhuVucHoatDong], [Email_TX], [TKNganHang], [ThuNhap], [SoNha_TX], [Duong_TX], [Phuong_TX], [Quan_TX], [ThanhPho_TX]) VALUES (N'TX1', N'Trần Cương', N'123456789', N'Nam', CAST(N'1988-01-12' AS Date), N'0987654321', N'AX-34355', N'Quận 2', N'df@gmail.com', N'123456', 12.0000, 12, N'Nguyễn Du', N'Phường 4', N'Quận 2', N'TPHCM')
INSERT [dbo].[TAIXE] ([MaTX], [TenTX], [CMND], [GioiTinh], [NgaySinh], [SDT_TX], [BienSoXe], [KhuVucHoatDong], [Email_TX], [TKNganHang], [ThuNhap], [SoNha_TX], [Duong_TX], [Phuong_TX], [Quan_TX], [ThanhPho_TX]) VALUES (N'TX3', N'Lam Trạm', N'1200056789', N'Nam', CAST(N'1996-03-14' AS Date), N'0987650021', N'LT-34388', N'Quận 4', N'ltt@gmail.com', N'100026', 12.0000, 2, N'Trần Hưng Đạo', N'Phường 5', N'Quận 10', N'TPHCM')
INSERT [dbo].[TAIXE] ([MaTX], [TenTX], [CMND], [GioiTinh], [NgaySinh], [SDT_TX], [BienSoXe], [KhuVucHoatDong], [Email_TX], [TKNganHang], [ThuNhap], [SoNha_TX], [Duong_TX], [Phuong_TX], [Quan_TX], [ThanhPho_TX]) VALUES (N'TX5', N'Tinh Trần', N'123777779', N'Nam', CAST(N'1991-10-01' AS Date), N'0987004321', N'TT-00355', N'Quận 6', N'tt@gmail.com', N'100456', 12.0000, 54, N'Hồ Ngọc Lãm', N'Phường 10', N'Quận 2', N'TPHCM')
GO
INSERT [dbo].[THUNHAP_TAIXE] ([MaTX], [MaDH], [PhiVanChuyen_TX]) VALUES (N'TX1', N'DH13', 6.0000)
INSERT [dbo].[THUNHAP_TAIXE] ([MaTX], [MaDH], [PhiVanChuyen_TX]) VALUES (N'TX1', N'DH17', 6.0000)
INSERT [dbo].[THUNHAP_TAIXE] ([MaTX], [MaDH], [PhiVanChuyen_TX]) VALUES (N'TX3', N'DH22', 6.0000)
GO
ALTER TABLE [dbo].[CHINHANH]  WITH CHECK ADD  CONSTRAINT [FK_4] FOREIGN KEY([MaDT])
REFERENCES [dbo].[DOITAC] ([MaDT])
GO
ALTER TABLE [dbo].[CHINHANH] CHECK CONSTRAINT [FK_4]
GO
ALTER TABLE [dbo].[CT_DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_6] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DONHANG] ([MaDH])
GO
ALTER TABLE [dbo].[CT_DONHANG] CHECK CONSTRAINT [FK_6]
GO
ALTER TABLE [dbo].[CT_DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_7] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CT_DONHANG] CHECK CONSTRAINT [FK_7]
GO
ALTER TABLE [dbo].[CT_HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_12] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOPDONG] ([MaHD])
GO
ALTER TABLE [dbo].[CT_HOPDONG] CHECK CONSTRAINT [FK_12]
GO
ALTER TABLE [dbo].[CT_HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_13] FOREIGN KEY([MaDT], [MaCNhanh])
REFERENCES [dbo].[CHINHANH] ([MaDT], [MaCN])
GO
ALTER TABLE [dbo].[CT_HOPDONG] CHECK CONSTRAINT [FK_13]
GO
ALTER TABLE [dbo].[DOANHTHU_DT]  WITH CHECK ADD  CONSTRAINT [FK_1] FOREIGN KEY([MaDT])
REFERENCES [dbo].[DOITAC] ([MaDT])
GO
ALTER TABLE [dbo].[DOANHTHU_DT] CHECK CONSTRAINT [FK_1]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_8] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_8]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_9] FOREIGN KEY([MaTX])
REFERENCES [dbo].[TAIXE] ([MaTX])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_9]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_2] FOREIGN KEY([MaDT])
REFERENCES [dbo].[DOITAC] ([MaDT])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_2]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_3] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_3]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_15] FOREIGN KEY([MaKH])
REFERENCES [dbo].[TAIKHOAN] ([MaND])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_15]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_17] FOREIGN KEY([MaNV])
REFERENCES [dbo].[TAIKHOAN] ([MaND])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_17]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_14] FOREIGN KEY([MaLoaiHang])
REFERENCES [dbo].[LOAIHANG] ([MaLH])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_14]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_5] FOREIGN KEY([MaDT], [MaCN])
REFERENCES [dbo].[CHINHANH] ([MaDT], [MaCN])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_5]
GO
ALTER TABLE [dbo].[TAIXE]  WITH CHECK ADD  CONSTRAINT [FK_16] FOREIGN KEY([MaTX])
REFERENCES [dbo].[TAIKHOAN] ([MaND])
GO
ALTER TABLE [dbo].[TAIXE] CHECK CONSTRAINT [FK_16]
GO
ALTER TABLE [dbo].[THUNHAP_TAIXE]  WITH CHECK ADD  CONSTRAINT [FK_10] FOREIGN KEY([MaTX])
REFERENCES [dbo].[TAIXE] ([MaTX])
GO
ALTER TABLE [dbo].[THUNHAP_TAIXE] CHECK CONSTRAINT [FK_10]
GO
ALTER TABLE [dbo].[THUNHAP_TAIXE]  WITH CHECK ADD  CONSTRAINT [FK_11] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DONHANG] ([MaDH])
GO
ALTER TABLE [dbo].[THUNHAP_TAIXE] CHECK CONSTRAINT [FK_11]
GO

select*from ct_donhang
select*from donhang


insert into donhang(madh, makh, matx, tinhtrangdh, hinhthucthanhtoan,diachigiao, phivc, tongtien, thoigiandathang)
values ('dh1', 'kh1', null, N'Đang chuẩn bị hàng',N'Thanh toán trước', N'14, Nguyễn Huệ, Phường 2, Quận 1, TPHCM',30,null,'2021-1-12')

insert into ct_donhang(madh,masp,soluong,giatien,thanhtien) values ('dh1','sp19',400,1,400),
('dh1','sp20',900,1,900)



exec  USP_GetInfoDriver 'TX1'
exec USP_GetAllOrderByAreaOfDriver 'TX1'

select*from donhang
select*from taixe

create function fuArea (@matx nvarchar(100))
returns nvarchar(100)
as
begin
	declare @area nvarchar(100)
	set @area = (select khuvuchoatdong from taixe where matx=@matx)
	return @area
end

declare @kq nvarchar(100)


exec USP_GetArea 'TX3'
declare @kq int
exec USP_ShowOrderByArea 'TX3'
	print('loi he thong')
else
	print('thanh cong')

declare @matx nvarchar(100)
set @matx='TX3'
declare @diachi nvarchar(100)
set @diachi=N'Quận 4'
declare @tinhtrang nvarchar(100)
set @tinhtrang=N'Đang giao'

select *
from donhang d
where d.tinhtrangdh=@tinhtrang  and d.matx=@matx and d.diachigiao like '%' + @diachi + '%'

SELECT*FROM DONHANG
SELECT*FROM CT_DONHANG

select*from Taikhoan
select*from taikhoan

INSERT [dbo].[DONHANG] ([MaDH], [MaKH], [MaTX], [TinhTrangDH], [HinhThucThanhToan], [DiaChiGiao], [PhiVC], [TongTien], [ThoiGianDatHang]) VALUES (N'DH1', N'KH7', NULL, N'Đang chuẩn bị hàng', N'Thanh toán trước', N'342, Võ Văn Ngân, Phường 12, Quận 2, TPHCM', 30.0000, 8241.0000, CAST(N'2019-07-10T02:36:12.460' AS DateTime))

INSERT [dbo].[CT_DONHANG] ([MaDH], [MaSP], [SoLuong], [GiaTien], [ThanhTien]) VALUES (N'DH1', N'SP5', 1, 611.0000, 611.0000)
INSERT [dbo].[CT_DONHANG] ([MaDH], [MaSP], [SoLuong], [GiaTien], [ThanhTien]) VALUES (N'DH1', N'SP8', 4, 1900.0000, 7600.0000)
alter proc usp_show @matx nvarchar(100)
as
	select*from donhang where matx=@matx
go

exec usp_show 'TX3'
delete donhang where madh='dh1'
select*from taixe

SELECT*FROM dbo.DOITAC

--thêm 1 cột số lượng tồn
ALTER TABLE dbo.SANPHAM
ADD SoLuongTon INT NULL